[package]
authors = ["Nick Fitzgerald <fitzgen@gmail.com>"]
description = "Find the set of shared libraries loaded in the current process with a cross platform API"
documentation = "https://docs.rs/findshlibs"
keywords = ["dyld", "dylib", "shared", "library", "dl_iterate_phdr"]
license = "Apache-2.0/MIT"
name = "findshlibs"
readme = "./README.md"
repository = "https://github.com/gimli-rs/findshlibs"
version = "0.4.1"

[badges.coveralls]
repository = "gimli-rs/findshlibs"

[badges.travis-ci]
repository = "gimli-rs/findshlibs"

[target.'cfg(target_os = "macos")'.build-dependencies]
bindgen = { version = "0.39.0", default-features = false }

[dependencies]
lazy_static = "1.0.0"
libc = "0.2.43"

[target.'cfg(target_os = "windows")'.dependencies]
winapi = { version = "0.3.7", features = ["psapi", "memoryapi"] }

[features]
nightly = []
